* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

#app {
    width:1200px;
    margin: 0 auto;
}

header, nav, footer {
    height:50px;
    line-height: 50px;
    text-align: center;
}

header {
    border: 1px solid rgb(200, 200, 200);
    font-size: 1.25em;
    letter-spacing: 1em;
    font-weight: bold;
}

main {
    overflow: hidden;
}

main>* {
    float:left;
}

aside {
    height:200px;
    line-height: 200px;
    width:100px;
    background-color: lightgray;
    text-align: center;
}

section {
    width:1000px;
    min-height: 600px; padding: 3px;
}

footer {
    border: 1px solid darkcyan;
}

nav {
    background-color: #212529;
}

nav>ul {
    list-style: none;
    overflow: hidden;
}

nav>ul>li {
    float:left;
    width:120px;
    background-color: #212529;
}

nav>ul>li>a {
    text-decoration: none;
    color:#797c7f;
    font-weight: bold;
    display:block;
}

nav>ul>li>a:hover {
    color:white;
    background-color: #333;
}